table {
    border-collapse: collapse;
    height: 100%;
    width: 100%;
}

tbody + tbody tr:first-child > td {
    border-top: 1px solid;
}

td {
    border: 1px solid #dfdfdf;
}

tr.category-master td {
    background-color: blue;
    color: white;
}