<mat-sidenav-container style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;">

    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened="true">
        <ul class="sidenav-sections">
            <!-- Views -->
            <li>
                <div>Views</div>
                <ul>
                    <li>Budget</li>
                    <li>Reports</li>
                    <li>All Accounts</li>
                </ul>
            </li>

            <!-- Accounts -->
            <li>
                <div>Accounts</div>
                <ul>
                    <li>Checking</li>
                    <li>Savings</li>
                </ul>
            </li>
        </ul>
    </mat-sidenav>

    <!-- Main Content -->
    <router-outlet></router-outlet>
</mat-sidenav-container>
